/*
---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---
---|                                                                               |---
---|              CSS-Code by "Pixxa & Kyonax" Synchronous Developers              |---
---|       Github: https://github.com/Kyonax • G-Mail: kyonax.corp@gmail.com       |---
---|  Github: https://github.com/MrPixxa-games • G-Mail: pixxaunited@gmail.com     |---
---|                       code CSS from Montgomery Country RP                     |---
---|                               Resource-CSS: [init]                            |---
---|                              Name-CSS: [Background]                           |---
---|              Function-CSS: Give the Style and the File Background             |---
---|                                                                               |---
---|                            DEV-DATE: 26/06/2020                               |---
---|                                number: 001                                    |---
---|                                MIT License                                    |---
---|                                                                               |---
---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---•---
*/
* {
  margin: 0;
  padding: 0;
} /*Remove all the margin and padding for all the Elements*/

#video-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
} /*Give the Container Video Style, this allows to put de Vídeo on the entire Screen*/

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
} /*Add a Black Overlay with a opacity ti opaque the Video File*/

video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
} /*Get the Container properties and resize the video with that*/
